.Dialog {
    /* width: 20px; */
    /* height: 20px; */
    /* background-image: "🤢"; */
    /* background-color: rgb(244, 246, 247);  */
    /* border-radius: 10px;  */
    /* border: 3px solid rgb(0, 0, 0); */
    position: absolute;
    cursor: move;
    top: 150px;
    left: 520px;
}

.Dialog1 {
    /* width: 20px; */
    /* height: 20px; */
    /* background-image: "🤢"; */
    /* background-color: rgb(244, 246, 247);  */
    /* border-radius: 10px;  */
    /* border: 3px solid rgb(0, 0, 0); */
    position: absolute;
    cursor: move;
    top: 200px;
    left: 520px;
}

.Dialog2 {
    /* width: 20px; */
    /* height: 20px; */
    /* background-image: "🤢"; */
    /* background-color: rgb(244, 246, 247);  */
    /* border-radius: 10px;  */
    /* border: 3px solid rgb(0, 0, 0); */
    position: absolute;
    cursor: move;
    top: 250px;
    left: 520px;
}

.hidden {
    display: none;
}

.DialogTitle {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-bottom: 3px solid grey; */
}

.Contents {
    padding-top: 50px;
    padding-bottom: 200px;
}

.closeButton {
    font-size: 12px;
    width: 10px;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    margin-left: 140px;
    cursor: pointer;
}