.garden-container{
    align-items: center;
    vertical-align: middle;
    
  margin: auto;
  margin-top: 10em;
  margin-left: 20em;


  width: 72%;


  border: 5px solid #80522c;


  padding: 10px;
    
}

.grid-container{
  margin-right: 20em;
}