.budImageContainer{
	display:inline-block;
	margin-left: 0em;
	width: 100px;
	height: 100px;
}

.toDoContainer{
	display:inline-block;
	margin-top: 0em;
	margin-left:37em;
	width: 50%;
	text-align: center;
}

.form-control{
	border-radius: 6px;
	width: min-content;
	margin-top: 1em;
	margin-right: 1em;
}

.startBtn, .stopBtn, .resetBtn{
	border-radius: 6px;
	width: min-content;
	font-weight: bold;
	margin-top: 1em;
	margin-left: 0;
	margin-bottom: 1em;
	margin-right: 1em;
	
	position: relative;
	color: #054231;
	letter-spacing: 1px;
	/* margin: 20px; */
	font-size: 0.8rem;
	padding: 10px;
	text-align: center;
	transition: 0.5s;
	cursor: pointer;
	border: none;
	background: #64d488;
}

.startBtn:hover, .stopBtn:hover, .resetBtn:hover{
	left: 0;
	color: #fff;
	width: 180px;
	box-shadow: 0px 0px 20px 0px  #1AAE5D;
}
