.flex-container {
    display: flex;
    flex-direction: row;
}
.img-garden{
    width: 700px;
    height: 700px;
    background-image: url('../Image/ground1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
