.SetTimer {
    text-align: center;
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 30em;
    margin-right: 30em;
    padding: 2em;
    background-color:rgba(255, 255, 255, 70%);
}
.timer-settimer{
    margin: 0.5em;
}
